<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.seapip.thomas.wearify">

    <uses-feature android:name="android.hardware.type.watch" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/WearifyTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <uses-library
            android:name="com.google.android.wearable"
            android:required="false" />

        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <activity
            android:name=".LaunchActivity"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".LoginAltActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".QRActivity"
            android:launchMode="singleInstance" />
        <activity android:name=".LibraryActivity" />
        <activity android:name=".TracksActivity" />
        <activity android:name=".PlaylistsActivity" />
        <activity android:name=".PlaylistActivity" />
        <activity android:name=".AlbumsActivity" />
        <activity android:name=".AlbumActivity" />
        <activity android:name=".ArtistsActivity" />
        <activity android:name=".ArtistActivity" />
        <activity
            android:name=".NowPlayingActivity"
            android:launchMode="singleTop" />
        <activity android:name=".AddWifiActivity" />
        <activity android:name=".DeviceActivity" />

        <service
            android:name=".spotify.Service"
            android:exported="false">
            <intent-filter android:label="@string/app_name">
                <action android:name="com.seapip.thomas.wearify.service.intent" />
            </intent-filter>
        </service>
    </application>

</manifest>